name: Generate RSS Feed

permissions:
  contents: write

on:
  schedule:
    - cron: "0 * * * *" # corre de hora a hora
  workflow_dispatch:     # permite correr manualmente

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run builder script
        run: node builder.js

      - name: Commit and push feed.xml
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add feed.xml
          git commit -m "Update RSS feed" || echo "No changes to commit"
          git push
