name: Generate RSS Feed

permissions:
  contents: write   # necessário para fazer push

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true   # usa o GITHUB_TOKEN automaticamente

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          ls -la
          cat package.json
          npm install

      - name: Run builder script
        run: |
          node builder.js
          echo "builder.js terminou com sucesso"

      - name: Commit and push feed.xml
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git status
          git add feed.xml || echo "feed.xml não encontrado"
          git commit -m "Update RSS feed" || echo "No changes to commit"
          git push
